@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600&family=Raleway:wght@400;500;600;700&display=swap');
//font-family: 'Cormorant', serif;
//font-family: 'Raleway', sans-serif;

html {
  ::selection {
    background-color: #8B8B8B;
    color: #fff;
  }

  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #8B8B8B;

    &:hover {
      background: #cccccc;
    }
  }

  ::-webkit-scrollbar-thumb {
    background: #3c3c3caf;
    transition: all 0.3s ease-in;

    &:hover {
      background: #3c3c3caf;
    }
  }
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0;
  }

  img {
    user-select: none;
  }

  a {
    text-decoration: none;
    color: #000;
    outline: none !important;

    &:hover {
      text-decoration: none !important;
      color: #666;
    }
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0 !important;
  }

  .Cursor {
    @media (max-width: 767px) {
      display: none;
    }
  }

  .mainText {
    color: #555;
    font-family: 'Cormorant', serif;
    font-size: 95px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .secondaryText {
    color: #8B8B8B;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;

    .circle {
      position: absolute;
      top: -65px;
      left: -126px;
      z-index: -1;
      animation: rotates 14s linear infinite;
    }

    @keyframes rotates {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  .text {
    color: #838381;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 180% */
    letter-spacing: 0.8px;
  }

  .myBtn {
    padding-left: 65px;
    position: relative;
    color: #555;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 120% */
    letter-spacing: 6px;
    text-transform: uppercase;
    border: none !important;

    &:active {
      border: none;
    }

    a {
      padding: 5px 0;
      background-color: #fff;
    }

    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #555;
      left: 34px;
      top: 19px;
      transition: all .5s ease-in-out;
    }

    .circle {
      position: absolute;
      top: -50%;
      left: -12px;
      background: transparent;
      width: 100px;
      height: 100px;
      z-index: 0;
      border: 2px solid #555;
      border-radius: 50%;
      transition: all .5s ease-in-out;
    }

    &:hover {

      &::after {
        opacity: 0;
      }

      .circle {
        width: 100%;
        border-radius: 80px;
        left: 20px;
      }
    }
  }

  .zed {
    z-index: 99;
  }

  .Navbar {

  }

  .AboutUsStyle {
    padding: 94px 0 110px;

    .text {
      margin-bottom: 30px;
    }

    h2 {
      margin: 34px 0 32px;
    }

    .right {
      position: relative;

      .wrap {
        position: sticky;
        top: 5px;

        img {
          top: 0;
          left: 0;
        }
      }
    }

    .myBtn {
      margin-top: 90px;
    }
  }

  .Statistics {
    padding-bottom: 110px;

    .cardsWrap {
      margin-top: 15px;
      width: 70%;
      justify-content: space-between;
    }
  }

  .Feedback {
    padding: 64px 0;
    background: #F0F0F0;

    .feedbackMain {
      font-family: 'Cormorant', serif;
      color: #555;
      font-size: 68px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 64px;
    }

    .feedbackSecondary {
      color: #787878;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px; /* 180% */
      letter-spacing: 4px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 24px;
    }

    .inputWrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 86px;
    }

    .form-control {
      background: none !important;
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 48px;
      width: 49%;
      box-shadow: none !important;
      border: none;
      border-bottom: 1px solid #8B8B8B;
      border-radius: 0;
      padding: 10px 10px 10px 0;
    }

    .myBtn {
      cursor: none;
      display: flex;
      margin: auto;
    }

  }

  .Footer {
    background-color: #555;
    padding: 60px 0;
    color: #fff;
    position: relative;
    overflow: hidden;

    .myBorder {
      position: absolute;
      width: 200px;
      height: 100%;
      border: 2px solid #fff;
      border-radius: 188px;

      &.left {
        top: 137px;
        left: -112px;
      }

      &.right {
        bottom: 60px;
        right: -112px;
        height: 428px;
        border-radius: 300px;
      }
    }

    h1 {
      color: #FFF;
      font-family: Iowan Old Style, serif;
      font-size: 48.674px;
      font-style: normal;
      font-weight: 400;
      line-height: 55.164px; /* 113.333% */
      text-transform: uppercase;
    }

    h2 {
      color: #FFF;
      font-family: Iowan Old Style, serif;
      font-size: 12.98px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }

    h3 {
      margin: 21px 0;
      color: #FFF;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px; /* 180% */
    }

    h4 {
      color: #FFF;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    h5 {
      color: #FFF;
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 24px;

      a {
        color: #FFF;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 138.889% */
        text-decoration-line: underline;
      }
    }
  }
}