@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600&family=Raleway:wght@400;500;600;700&display=swap');
//font-family: 'Cormorant', serif;
//font-family: 'Raleway', sans-serif;

html {
  ::selection {
    background-color: #8B8B8B;
    color: #fff;
  }

  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #8B8B8B;

    &:hover {
      background: #cccccc;
    }
  }

  ::-webkit-scrollbar-thumb {
    background: #3c3c3caf;
    transition: all 0.3s ease-in;

    &:hover {
      background: #3c3c3caf;
    }
  }

  @media(max-width: 992px) {
    overflow-x: hidden;
  }
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0;
  }

  img {
    user-select: none;
  }

  a {
    text-decoration: none;
    color: #000;
    outline: none !important;

    &:hover {
      text-decoration: none !important;
      color: #666;
    }
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0 !important;
  }

  .Cursor {
    @media (max-width: 767px) {
      display: none;
    }
  }

  .mainText {
    color: #555;
    font-family: 'Cormorant', serif;
    font-size: 95px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media(max-width: 992px) {
      text-align: center;
      font-size: 47px;
      font-weight: 600;
      margin: 15px 0 25px;
    }
  }

  .secondaryText {
    color: #8B8B8B;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;

    .circle {
      position: absolute;
      top: -65px;
      left: -126px;
      z-index: -1;
      animation: rotates 14s linear infinite;

      &.center {
        left: 35%;
      }
    }

    @media(max-width: 992px) {
      font-size: 16px;
      font-weight: 900;
      text-align: center;
    }

    @keyframes rotates {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  .text {
    color: #838381;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 180% */
    letter-spacing: 0.8px;

    @media(max-width: 992px) {
      font-size: 16px;
    }
  }

  .myBtn {
    padding-left: 65px;
    position: relative;
    color: #555;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 120% */
    letter-spacing: 6px;
    text-transform: uppercase;
    border: none !important;

    &:active {
      border: none;
    }

    a {
      padding: 5px 0;
      background-color: #fff;
    }

    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #555;
      left: 34px;
      top: 19px;
      transition: all .5s ease-in-out;

      @media(max-width: 992px) {
        left: 20px;
      }
    }

    .circle {
      position: absolute;
      top: -50%;
      left: -12px;
      background: transparent;
      width: 100px;
      height: 100px;
      z-index: 0;
      border: 3px solid #555;
      border-radius: 50%;
      transition: all .5s ease-in-out;
    }

    &:hover {

      &::after {
        opacity: 0;
      }

      .circle {
        width: 100%;
        border-radius: 80px;
        left: 20px;

        @media(max-width: 992px) {
          left: 8px;
        }
      }
    }

    @media(max-width: 992px) {
      font-size: 20px;
      padding-left: 40px;
    }
  }

  .zed {
    z-index: 99;
  }

  .Navbar {

  }

  .AboutUsStyle {
    padding: 94px 0 110px;

    .text {
      margin-bottom: 30px;

      @media(max-width: 992px) {
        margin-bottom: 20px;
      }
    }

    h2 {
      margin: 34px 0 32px;
    }

    .right {
      position: relative;

      .wrap {
        position: sticky;
        top: 5px;

        img {
          top: 0;
          left: 0;
        }
      }

      @media(max-width: 992px) {
        display: none;
      }
    }

    .myBtn {
      margin-top: 90px;

      .textBg {
        background-color: #fff;
      }

      .circle {
        z-index: -1;
      }

      @media(max-width: 992px) {
        margin-top: 70px;
      }
    }
  }

  .Statistics {
    padding-bottom: 110px;

    .cardsWrap {
      margin-top: 15px;
      width: 70%;
      justify-content: space-between;

      @media(max-width: 992px) {
        flex-direction: column;
        width: 100%;
        gap: 20px;
      }
    }

    @media(max-width: 992px) {
      padding-bottom: 50px;
    }
  }

  .FabricsForClothing {
    padding: 150px 0 80px;

    .cards {
      border-radius: 10px;
      background: #F0F0F0;
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.16);
      padding: 16px;
      margin-bottom: 30px;

      .images {
        img {
          border-radius: 10px;
        }
      }

      h1 {
        color: #555;
        font-size: 34px;
        font-style: normal;
        font-family: 'Cormorant', serif;
        font-weight: 700;
        line-height: 32px; /* 123.077% */
        margin: 25px 0 12px;
      }

      h2 {
        color: #555;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 133.333% */
        margin: 8px 0 36px;
      }

      h3 {
        color: #FFF;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 26px;
        padding: 12px 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 123.077% */
        text-align: center;
        background: #8B8B8B;
      }
    }
  }

  .Benefits {
    padding: 200px 0;

    .col-lg-4 {
      padding: 0 25px;
    }

    .cards {
      transition: all .4s ease-in-out;
      margin-top: 120px;

      .top {
        background: #8B8B8B;
        padding: 90px 0;
        text-align: center;
        border-radius: 200px 200px 0 0;
      }

      .bottom {
        background: #F0F0F0;
        padding: 47px 30px 67px;

        h3 {
          color: #8B8B8B;
          text-align: center;
          font-family: 'Cormorant', serif;
          font-size: 55px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        h4 {
          color: #8B8B8B;
          text-align: center;
          margin-top: 15px;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px; /* 175% */
        }
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .Center {

    .col-12 {
      text-align: center;
    }
  }

  .Vacancy {
    padding: 150px 0 50px;

    .cards {
      display: flex;
      align-items: center;
      border-radius: 10px;
      background: #F0F0F0;
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.16);
      padding: 12px;
      margin-bottom: 32px;

      .image {
        margin-right: 20px;
        //width: 220px;
        //height: 230px;

        img {
          width: 100%;
        }

        @media(max-width: 992px) {
          width: 100%;
          margin-bottom: 24px;
          margin-right: 0;
        }
      }

      .wrap {

        .flex {
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          h3 {
            color: #8B8B8B;
            font-size: 19px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 120% */
            letter-spacing: 1px;
            text-transform: uppercase;

            @media(max-width: 992px) {
              font-size: 16px;
            }
          }

          h4 {
            color: #555;
            font-size: 19px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 120% */

            &.bold {
              font-weight: 600;
              color: #555;
            }

            &.end {
              text-align: end;
            }

            @media(max-width: 992px) {
              font-size: 16px;
            }
          }
        }

        a {
          color: #FFF;
          font-feature-settings: 'clig' off, 'liga' off;
          font-size: 26px;
          font-style: normal;
          font-weight: 500;
          line-height: 32px; /* 123.077% */
          text-transform: uppercase;
          cursor: none;
          background: #8B8B8B;
          padding: 14px 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 25px;

          @media(max-width: 992px) {
            font-size: 20px;
            padding: 10px 20px;
          }
        }
      }

      @media(max-width: 992px) {
        flex-direction: column;
      }
    }

    @media(max-width: 992px) {
      padding-bottom: 0;
    }
  }

  .Feedback {
    padding: 64px 0;
    background: #F0F0F0;

    .feedbackMain {
      font-family: 'Cormorant', serif;
      color: #555;
      font-size: 68px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 64px;

      @media(max-width: 992px) {
        font-size: 31px;
        font-weight: 900;
        margin-bottom: 40px;
      }
    }

    .feedbackSecondary {
      color: #787878;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px; /* 180% */
      letter-spacing: 4px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 24px;

      @media(max-width: 992px) {
        font-size: 12px;
        font-weight: 900;
        line-height: 21px;
      }
    }

    .inputWrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 86px;

      @media(max-width: 992px) {
        flex-direction: column;
        margin-bottom: 60px;
      }
    }

    .form-control {
      background: none !important;
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 48px;
      width: 49%;
      box-shadow: none !important;
      border: none;
      border-bottom: 1px solid #8B8B8B;
      border-radius: 0;
      padding: 10px 10px 10px 0;

      @media(max-width: 992px) {
        width: 90%;
      }
    }

    .myBtn {
      cursor: none;
      display: flex;
      margin: auto;

      .textBg {
        background: #F0F0F0;
        z-index: 1;
      }
    }

  }

  .miniFeedback {

    .Feedback {
      background-color: #fff;
    }

    .feedbackMain, .feedbackSecondary {
      text-align: left;
      //text-transform: none;

      @media(max-width: 992px) {
        text-align: center;
      }
    }

    .col-lg-2 {

      img {

        @media(max-width: 992px) {
          width: 100%;
        }
      }
    }

    .myBtn {
      margin: initial;

      .textBg {
        background-color: #fff;
      }
    }
  }

  .FeedbackPage {
    padding: 90px 0;

    @media(max-width: 992px) {
      padding: 50px 0 25px;
    }
  }

  .Map {

    .map {
      margin-top: 20px;

      iframe {
        height: 500px;
        border-radius: 0 200px 0 0;
      }
    }
  }

  .WeddingDress {
    padding: 150px 0 80px;

    .btnWrap {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      margin: 30px 0 80px;

      .btn {
        color: #8B8B8B;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 140% */
        background: #F0F0F0;
        padding: 14px 24px;
        border: 0;
        transition: all .3s ease-in-out;

        &:first-child {
          border-radius: 30px 0 0 0;
        }

        &:last-child {
          border-radius: 0 30px 0 0;
        }

        &:hover, &.active {
          background: #8B8B8B;
          color: #fff;
        }

        @media(max-width: 992px) {
          text-wrap: nowrap;
        }
      }

      @media(max-width: 992px) {
        flex-wrap: nowrap;
        width: 100%;
        overflow-x: auto;
        justify-content: start;
        padding-bottom: 10px;

        &::-webkit-scrollbar {
          height: 5px;
        }

        &::-webkit-scrollbar-track {
          background: #afafaf;

          &:hover {
            background: #cccccc;
          }
        }
      }
    }

    .cards {
      border-radius: 10px;
      background: #F0F0F0;
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.16);
      padding: 12px;
      margin-bottom: 45px;

      .wrap {
        margin-top: 30px;

        .flex {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;


          h4 {
            color: #8B8B8B;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 120% */
            letter-spacing: 1px;
            text-transform: uppercase;

            @media(max-width: 992px) {
              font-size: 16px;
            }
          }

          h5 {
            color: #555;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 120% */

            &.bold {
              font-weight: 900;
            }

            @media(max-width: 992px) {
              font-size: 16px;
            }
          }
        }
      }

      a {
        color: #FFF;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 123.077% */
        text-transform: uppercase;
        background: #8B8B8B;
        padding: 12px 24px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 30px;

        @media(max-width: 992px) {
          font-size: 20px;
          padding: 10px 20px;
        }
      }
    }
  }

  .Gallery {
    padding: 150px 0;
    background: #F0F0F0;

    .circle {
      position: absolute;
      top: -2px;
      right: -24px;

      animation: rotateAnim 15s linear infinite;

      @keyframes rotateAnim {
        from {
          transform: rotate(0);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }

    h1 {
      color: #555;
      font-size: 104.42px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      font-family: 'Cormorant', serif;
      position: absolute;
      top: -50px;
    }

    .image-grid {
      display: grid;
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr;

      img {
        width: 100%;
      }

      .top-image {
        grid-row: 1;
        margin-bottom: 25px;
        border-radius: 0 250px 0 0;
      }

      .bottom-images {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 25px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .Footer {
    background-color: #555;
    padding: 60px 0;
    color: #fff;
    position: relative;
    overflow: hidden;

    .col-lg-4 {
      @media(max-width: 992px) {
        background-color: #555;
      }
    }

    .myBorder {
      position: absolute;
      width: 200px;
      height: 100%;
      border: 2px solid #fff;
      border-radius: 188px;

      &.left {
        top: 137px;
        left: -112px;
      }

      &.right {
        bottom: 60px;
        right: -112px;
        height: 428px;
        border-radius: 300px;
      }
    }

    h1 {
      color: #FFF;
      font-family: Iowan Old Style, serif;
      font-size: 48.674px;
      font-style: normal;
      font-weight: 400;
      line-height: 55.164px; /* 113.333% */
      text-transform: uppercase;
    }

    h2 {
      color: #FFF;
      font-family: Iowan Old Style, serif;
      font-size: 12.98px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }

    h3 {
      margin: 21px 0;
      color: #FFF;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px; /* 180% */

      @media(max-width: 992px) {
        font-size: 16px;
        line-height: 24px;
        margin: 15px 0;
      }
    }

    h4 {
      color: #FFF;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    h5 {
      color: #FFF;
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;

      @media(max-width: 992px) {
        font-size: 20px;
        line-height: 24px;
        margin-top: 22px;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 24px;

      a {
        color: #FFF;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 138.889% */
        text-decoration-line: underline;

        @media(max-width: 992px) {
          font-size: 14px;
        }
      }
    }
  }


  .swiper-button-next {
    right: -1px;

    &::after {
      color: #fff;
      font-size: 28px;
      font-weight: 900;
    }
  }

  .swiper-button-prev {
    left: -1px;

    &::after {
      color: #fff;
      font-size: 28px;
      font-weight: 900;
    }
  }

  .swiper-button-next, .swiper-button-prev {
    background: #ffffffa6;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    &::after {
      color: #555;
      font-size: 20px;
    }
  }

  .cardsStyle {

    .swiper-button-prev, .swiper-button-next {
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease-in-out;
    }

    &:hover {

      .swiper-button-prev, .swiper-button-next {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .swiper-pagination-bullet {
    background: #ffffff80;
    opacity: initial;

    &.swiper-pagination-bullet-active {
      background-color: #fff;
    }
  }
}