@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

#root {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #000;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0;
  }

  img {
    user-select: none;
  }

  a {
    text-decoration: none;
    color: #000;
    outline: none !important;

    &:hover {
      text-decoration: none !important;
      color: #666;
    }
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0 !important;
  }

  .myBtn {
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 15px;
    background: #fff;

    &:hover {
      color: #fff !important;
      border-color: #fff !important;
      transform: scale(0.98);
    }

    &:active {
      color: #fff !important;
      border-color: #fff !important;
      transform: scale(0.96);
    }
  }

  .cursor {
    cursor: pointer;
  }

  .form-control {
    &:focus {
      box-shadow: 0 0 10px #3c4bdc85 !important;
    }
  }

  .Navbar {
    padding: 20px 0;

    a {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      color: #fff;
      transition: all 0.4s ease-in-out;
      margin-left: 30px;
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: transparent;
        bottom: -3px;
        left: 0;
        position: absolute;
        transition: all 0.4s ease-in-out;
      }

      &:hover {
        font-weight: 700;
        transform: scale(1.05);

        &::after {
          background-color: #fff;
        }
      }
    }

    .myBtn {
      padding: 16px 19px 17px 14px;
    }

    .wrap {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .row {
      align-items: center;
      justify-content: space-between;
    }
  }

  .Header {
    position: relative;

    h1 {
      color: #fff;
      font-family: Montserrat;
      font-size: 68px;
      font-weight: 700;
      line-height: normal;
      margin-top: 120px;
      margin-bottom: 10px;
    }

    p {
      color: #fff;
      font-family: Montserrat;
      font-size: 17px;
      font-weight: 400;
      line-height: 153.9%; /* 26.163px */
      margin-bottom: 22px;
      width: 70%;
    }

    h2 {
      color: #fff;
      font-family: Montserrat;
      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      line-height: 153.9%; /* 26.163px */
      margin-left: 10px;
    }

    .btn {
      margin-top: 22px;
      h3 {
        color: #fff;
        font-family: Montserrat;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 153.9%; /* 26.163px */
      }
    }

    .light1 {
      position: absolute;
      top: -95px;
      left: 0;
      z-index: -1;
    }

    .light2 {
      position: absolute;
      top: -95px;
      right: 0;
      z-index: -1;
    }

    .grid1 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  .WhatWeCanDo {
    position: relative;
    padding: 70px 0;

    h1 {
      color: #fff;
      font-family: Montserrat;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: 153.9%; /* 86.184px */
    }

    p {
      display: flex;
      align-items: center;
      color: #fff;
      font-family: Montserrat;
      font-size: 27px;
      font-style: normal;
      font-weight: 400;
      line-height: 153.9%; /* 41.553px */
      margin-left: 5px;
    }

    .leftWrap {
      width: 58.33333333%;
      height: 530px;
      position: relative;

      img {
        position: absolute;
        top: -240px;
        left: -70px;
        z-index: -1;
      }
    }
  }

  .OurWorks {
    padding: 50px 0;

    h1 {
      color: #fff;
      font-family: Montserrat;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      line-height: 153.9%; /* 92.34px */
      margin-bottom: 38px;
    }
  }
}
