@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;600;700&display=swap");

body {
  font-family: "Unbounded", sans-serif !important;
  overflow-x: hidden;

  .container {
    @media (min-width: 1400px) {
      max-width: 1500px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0;
  }

  img {
    user-select: none;
  }

  .myBtn {
    font-size: 20px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    line-height: 40.895px;
    border-radius: 72.702px;
    background: var(--Primary, #1aa37a);
    box-shadow: 0px 0px 10.22377px 0px rgba(157, 255, 179, 0.3);
    display: inline-flex;
    padding: 14px 26px;
    justify-content: center;
    align-items: center;
    gap: 6.816px;
  }

  a {
    text-decoration: none;
    color: #000;
    outline: none !important;

    &:hover {
      text-decoration: none !important;
      color: #666;
    }
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0 !important;
  }

  .header {
    overflow: hidden;

    .bottomWrap {
      p {
        margin-top: 3px;
        margin-left: 6px;
      }
    }
    .myWrap {
      padding: 120px 80px 60px;
      background-color: #161616;
      border-radius: 40px;
      position: relative;

      h1 {
        font-size: 72px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        text-align: right;
        color: #fff;

        &.topH1 {
          margin-bottom: 21px;
          text-align: left;
        }
      }

      h2 {
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 86px 0;
        color: #fff;
        width: 51%;
      }

      a {
      }

      .shape {
        position: absolute;
        bottom: 100px;
        right: 10px;
        z-index: 11;
      }

      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 189px;
        p {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: #fff;
          z-index: 11;
        }
      }
    }
    .circleBlur {
      opacity: 0.5;
      background: #9dffb3;
      filter: blur(200px);
      width: 600px;
      height: 600px;
      position: absolute;
      right: -112px;
      bottom: -210px;
    }
  }

  .solution {
    margin: 100px 0;
    .myWrap {
      border-radius: 40px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      padding: 80px 0 0 0;

      .rightWrap {
        padding-right: 50px;
      }

      .shape {
        img {
          width: 123%;
        }
      }

      h1 {
        font-size: 48.001px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;

        &.topH1 {
          margin-bottom: 16px;
          transform: translateX(-200px);
        }
      }

      h2 {
        margin: 42px 0;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 144.444% */
      }

      .logoWrap {
        background-color: #000;
        border-radius: 0 0 36px 36px;
        z-index: 9;
        position: relative;
        overflow: hidden;

        .logo {
          padding: 21px 60px;
          display: flex;
          align-items: center;
          justify-content: space-around;
        }

        .shapeLeft,
        .shapeRight {
          position: absolute;
          border-radius: 303.853px;
          opacity: 0.5;
          background: #9dffb3;
          filter: blur(83.77664184570312px);
          width: 303.853px;
          height: 303.853px;
          top: 17px;
          left: 119px;
        }

        .shapeRight {
          left: initial;
          right: 120px;
        }
      }
    }
  }

  .development {
    margin: 75px 0 45px;
    .myRow {
      background-color: #161616;
      padding: 75px 60px;
      border-radius: 40px;

      h1 {
        font-size: 54.001px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        color: #fff;
      }

      h2 {
        font-size: 13.5px;
        font-style: normal;
        font-weight: 400;
        line-height: 19.5px; /* 144.444% */
        margin: 27px 0;
        color: #fff;
      }

      p {
        color: #fff;
        color: #fff;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        padding: 13.5px 18px;
        border-radius: 54.528px;
        border: 0.75px solid #fff;
        box-shadow: 0px 0px 7.66802px 0px rgba(157, 255, 179, 0.3);
        display: inline-flex;
        margin-right: 18px;
        margin-bottom: 18px;
      }

      a {
        font-size: 19.5px;
        font-style: normal;
        font-weight: 400;
        line-height: 30.672px;
        color: #fff;
        display: flex;
        padding: 13.632px 25.56px;
        justify-content: center;
        align-items: center;
        border-radius: 54.528px;
        background: var(--Primary, #1aa37a);
        box-shadow: 0px 0px 7.66802px 0px rgba(157, 255, 179, 0.3);
        gap: 5.112px;
        margin-top: 30px;
      }

      .line {
        background: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 0.75px;
        margin: 75px 0;
      }
    }
  }

  .lineWrap {
    background-color: #E6E6E6;
    width: 100%;
    height: 1px;
    margin: 30px 0 22px;
  }

  .footer {
    margin-bottom: 20px !important;
    h1 {
        font-size: 11.25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      span {
        font-weight: 500;
      }
    }
  }
}
