@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

#root {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fefefe;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0;
  }

  img {
    user-select: none;
  }

  a {
    text-decoration: none;
    color: #000;
    outline: none !important;

    &:hover {
      text-decoration: none !important;
      color: #666;
    }
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0 !important;
  }

  .myBtn {
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #ffffff;
    background: #00aeef;
    padding: 15px 39px;
    border-radius: 0;
    text-transform: none;

    &:hover {
      transform: translateY(-10px);
    }

    &.white {
      background-color: white;
      color: #00aeef;
    }
  }

  .cursor {
    cursor: pointer;
  }

  .form-control {
    &:focus {
      box-shadow: 0 0 10px #3c4bdc85 !important;
    }
  }

  .Navbar {
    padding: 35px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 0 0 10px #aaaefb8c;
    background: #fefefeb0;
    backdrop-filter: blur(4px);

    a {
      font-size: 21px;
      line-height: 25px;
      color: #313131;
      font-weight: 500;

      &.phone {
        font-weight: 600;
        font-size: 21px;
        line-height: 29px;
        color: #00aeef;
      }
    }

    .row {
      align-items: center;
    }

    .myCol {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: auto;
    }
  }

  .navbarLine {
    margin-top: 100px;
  }

  .Phone {
    position: fixed;
    bottom: 65px;
    right: 60px;
    z-index: 999;
    background: #00aeef;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    box-shadow: 0 0 10px #c0c0c07d;
    border-radius: 50%;

    .scales {
      border-radius: 50%;
      position: absolute;
      background: #00afef8c;
      -webkit-animation: scales1 3s infinite 0s;
      animation: scales1 3s infinite 0s;
      z-index: 10000;
      width: 50px;
      height: 50px;
      z-index: 99;
    }

    span {
      -webkit-animation: shake 2s infinite 1s;
      animation: shake 2s infinite 1s;
      z-index: 999;

      img {
        width: 35px;

        @media (max-width: 767px) {
          width: 25px;
        }
      }
    }

    @media (max-width: 767px) {
      width: 50px;
      height: 50px;
      right: 30px;
      bottom: 30px;
    }

    @keyframes shake {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      10% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
      }

      15% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
      }

      20% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
      }

      50% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
      }

      55% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
      }

      60% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
      }

      65% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }

    @keyframes scales1 {
      0% {
        padding: 50%;
        opacity: 1;
      }

      100% {
        padding: 85%;
        opacity: 0;
      }
    }
  }

  .OurServices {
    padding: 100px 0 70px;

    h1 {
      font-weight: 700;
      font-size: 64px;
      line-height: 87px;
      color: #00aeef;
    }

    h2 {
      font-weight: 400;
      font-size: 36px;
      line-height: 49px;
      color: #313131;
      margin-bottom: 42px;
    }

    .cards {
      h3 {
        margin: 19px 0;
        font-weight: 600;
        font-size: 36px;
        line-height: 49px;
        color: #00aeef;
      }

      p {
        font-weight: 400;
        font-size: 24px;
        line-height: 160.02%;
        color: #313131;
        padding-left: 15px;
        position: relative;

        &::after {
          content: "";
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: #313131;
          left: 0px;
          top: 19px;
          position: absolute;
        }
      }

      .myBtn {
        display: flex;
        margin: 0 auto;
        margin-top: 43px;
      }

      &.second {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    h4 {
      font-weight: 600;
      font-size: 36px;
      line-height: 49px;
      color: #313131;
      margin-top: 70px;
    }
  }

  .HaveQuestion {
    background: #00aeef;
    padding: 62px 0 54px;

    h1 {
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;
      text-align: center;
      color: #ffffff;
    }

    .myBtn {
      margin: 0 auto;
      display: flex;
      margin-top: 35px;
      font-weight: 600;
      font-size: 28px;
      line-height: 38px;
      color: #00aeef;
    }
  }

  .OurWay {
    padding-top: 150px;

    .leftCol {
      background: #fff;
      padding: 10px;
    }

    h1 {
      font-weight: 700;
      font-size: 64px;
      line-height: 49px;
      color: #00aeef;
      margin-bottom: 121px;
      width: 55%;
      position: relative;
      width: 168px;

      &::after {
        content: "";
        position: absolute;
        background-color: transparent;
        width: 331px;
        height: 227px;
        top: -50%;
        left: -50%;
        border: 7px solid #00aeef;
        z-index: -1;
      }
    }

    p {
      font-weight: 400;
      font-size: 21px;
      line-height: 29px;
      color: #313131;
    }
  }

  .Team {
    padding: 110px 0 20px;

    h1 {
      font-weight: 600;
      font-size: 64px;
      line-height: 87px;
      color: #00aeef;
      margin-bottom: 40px;
      text-align: center;
    }

    .cards {
      h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #00aeef;
      }

      h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #ffc107;
        margin-left: 5px;
      }

      p {
        margin-bottom: 4px;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #313131;
      }

      h4 {
        font-weight: 400;
        font-size: 21px;
        line-height: 29px;
        color: #00aeef;
      }

      h5 {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #313131;
      }
    }

    .swiper-wrapper {
      padding-bottom: 70px;

      .swiper-pagination {
        bottom: 20px;
      }
    }

    .swiper-pagination-bullet {
      background-color: #00aeef;
      transition: all 0.4s ease-in-out;

      &.swiper-pagination-bullet-active {
        width: 15px;
        height: 8px;
        border-radius: 6px;
      }
    }
  }

  .Feedback {
    background-color: #00aeef;
    padding: 81px 0 200px;
    margin-top: 100px;

    .myRow {
      align-items: center;
      flex-direction: row-reverse;

      h1 {
        font-weight: 600;
        font-size: 64px;
        line-height: 87px;
        color: #ffffff;
        margin-bottom: 11px;
        text-align: center;
      }

      .starWrap {
        text-align: center;
      }

      h2 {
        margin-top: 20px;
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        text-align: center;
        color: #ffffff;
      }
    }

    .swiper {
      padding: 20px;
      padding-top: 55px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: #fff;
      top: 25px;

      &::after {
        font-size: 24px;
      }
    }

    .swiper-button-prev {
      right: 40px;
      left: inherit;
    }

    .cards {
      background: #ffffff;
      box-shadow: -4px 4px 17px rgba(0, 32, 61, 0.4);
      border-radius: 15px;
      padding: 20px 20px 40px;
    }

    h3 {
      margin-top: 80px;
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 44px;
      line-height: 60px;
      color: #ffffff;
      text-align: center;
    }
  }

  .Benefits {
    background: url(../assets/bbg.png) no-repeat center;
    background-attachment: fixed;
    height: 447px;
    background-size: cover;

    h1 {
      font-weight: 600;
      font-size: 44px;
      line-height: 44px;
      text-align: center;
      color: #ffffff;
      padding: 95px 0 65px;
      width: 60%;
      margin: auto;
    }

    .cards {
      background: #f7fcff;
      padding: 22px 15px 30px;
      box-shadow: 0 8px 10px #c0c0c063;

      .img {
        text-align: center;
      }

      h2 {
        font-weight: 600;
        font-size: 28px;
        line-height: 103.18%;
        text-align: center;
        color: #000000;
        margin: 0 auto;
        margin-top: 19px;
        width: 90%;
      }

      h3 {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #000000;
        margin-top: 19px;
      }
    }
  }

  .benefitsLine {
    padding-bottom: 160px;
  }

  .Contacts {
    padding: 82px 0 94px;

    h1 {
      font-weight: 700;
      font-size: 64px;
      line-height: 87px;
      color: #00aeef;
      margin-bottom: 33px;
    }

    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 33px;
      color: #00aeef;
    }

    a,
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 33px;
      color: #313131;
      display: block;
    }

    iframe {
      height: 576px;
      margin-top: 55px;
    }
  }
}
