@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Palatino Linotype";
  src: url("../fonts/p_bold.ttf") format("truetype");
}

@font-face {
  font-family: "Palatino Linotype";
  src: url("../fonts/p_bold.ttf") format("truetype");
}

.bold {
  // font-weight: 600;
  font-family: "Palatino Linotype";
}

@font-face {
  font-family: "Palatino Linotype";
  src: url("../fonts/p_roman.ttf") format("truetype");
}

.roman {
  // font-weight: 600;
  font-family: "Palatino Linotype";
}

.bold {
  // font-weight: 600;
  font-family: "Palatino Linotype";
}

@font-face {
  font-family: "Palatino Linotype";
  src: url("../fonts/p_roman.ttf") format("truetype");
}

.roman {
  // font-weight: 600;
  font-family: "Palatino Linotype";
}

html {
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #ffaead12;

    &:hover {
      background: #ffaead34;
    }
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 60px;
    background: #ffaead;
    transition: all 0.3s ease-in;

    &:hover {
      background: #ffaeada3;
    }
  }
}
.css-9l5vo-MuiCollapse-wrapperInner {
  width: 100%;
  margin-left: 30px;
}
.my_select {
  display: flex !important;
  gap: 15px !important;
}
#root {
  overflow-x: hidden;
}
.hundered_ptichkas {
  display: flex;
  gap: 20px;
  margin-bottom: 14px;
  .hundered_ptichkas_p {
    color: #313131;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px; /* 133.333% */
  }
}
.hundered_ques_title {
  text-align: center;
  color: #313131;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px; /* 127.778% */
  margin-bottom: 24px;
}
.hundered_ques_titlee {
  color: #313131;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px; /* 127.778% */
  margin-bottom: 24px;
}
.for_second_side_hundered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.second_side_question {
  margin-top: 50px;
  .second_side_1 {
    text-align: center;
    color: #000;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }
  .second_side_2 {
    text-align: center;

    color: #001767;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
  }
  .second_side_3 {
    text-align: center;

    color: #000;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 123.077% */
    span {
      text-align: center;
      color: #001767;
      font-size: 29px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
    }
  }
}

.ans_h3 {
  padding: 16px 0;
  color: #e40000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: 1.2px;
  // text-transform: uppercase;
}
.for_border_10 {
  border: 1px solid rgb(71, 68, 68) !important;
  border-radius: 2px;
  .for_border_inner {
    padding: 10px 0 !important;
  }
}
body {
  font-family: "Raleway", sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0;
  }

  img {
    user-select: none;
  }

  a {
    text-decoration: none;
    color: #000;
    outline: none !important;

    &:hover {
      text-decoration: none !important;
      color: #666;
    }
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0 !important;
  }

  .form-control {
    &:focus {
      border-color: #f5c2c199;
      box-shadow: 0 0 0 0.25rem #f5c2c15e;
    }
  }

  .myBtn {
    margin-top: 24px;
    color: #313131;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    border-radius: 10px;
    border: 1px solid #ffd0d4;
    background: #ffd0d4;
    padding: 20px;
    width: 100%;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 0 0.25rem #f5c2c15e;
      background: #ffd0d4;
    }

    &:active {
      border-color: #ffbbc1 !important;
      transform: scale(0.95);
    }
  }

  .cursor {
    cursor: pointer;
  }

  .card {
    background-color: transparent;
    border: 0;
    padding: 0;

    .card-body {
      background-color: transparent;
      border: 0;
      padding: 0;
    }
  }

  .Register {
    height: 100vh;
    overflow: hidden;
    // overflow-y: auto;

    .registerCenter {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .bg {
      width: 100%;
    }

    h1 {
      color: #313131;
      font-size: 64px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 36px;
    }

    input {
      font-size: 24px;
      font-weight: 400;
      line-height: 32px; /* 133.333% */
      padding: 24px;
      margin-bottom: 16px;
    }

    a {
      color: rgba(0, 0, 0, 0.5);
      font-size: 24px;
      font-weight: 500;
      line-height: 32px; /* 133.333% */
      text-decoration-line: underline;
      display: block;
      margin-top: 76px;
      text-align: center;
    }

    .modalCard {
      fill: rgba(255, 255, 255, 0.32);
      filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.16));
      backdrop-filter: blur(45px);
      padding: 70px 80px;
      text-align: center;
      gap: 36px;
      display: grid;
      margin: 80px;

      h2 {
        color: #313131;
        font-size: 36px;
        font-weight: 700;
        line-height: 42px; /* 116.667% */

        span {
          color: #c40655;
        }
      }

      h3 {
        color: #c40655;
        font-size: 86px;
        font-weight: 700;
        line-height: 110px; /* 127.907% */
      }

      h4 {
        color: #313131;
        font-size: 32px;
        font-weight: 500;
        line-height: 46px; /* 143.75% */
      }

      h5 {
        color: #313131;
        font-size: 36px;
        font-weight: 700;
        line-height: 42px; /* 116.667% */
      }

      .myBtn {
        width: 40%;
        margin: 0 auto;
      }
    }

    .cardBody {
      padding: 0 20px;
    }
  }

  .NavigationLayout {
    .top {
      padding: 25px 40px;
      border-bottom: 1px solid var(--black-10, rgba(28, 28, 28, 0.1));
      background: var(--white-white, #fff);
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .logo,
      .language,
      .notification {
        z-index: 1;
      }

      .vector {
        position: absolute;
        top: -10px;

        &.vector1 {
          left: 25%;
        }

        &.vector2 {
          left: 50%;
        }

        &.vector3 {
          right: 20%;
        }
      }
    }

    .bottom {
      // height: calc(100vh - 107px);
      height: calc(100vh - 107px);
      // overflow: hidden;
      overflow-y: auto;
    }

    .css-15v22id-MuiAccordionDetails-root {
      padding: 0 !important;
    }

    .left {
      padding: 32px 26px 32px 32px;
      // padding-bottom: 145px;
      border-right: 1.424px solid var(--black-10, rgba(28, 28, 28, 0.1));
      background: #fff;
      overflow-y: auto;
      display: flex;
      gap: 30px;
      flex-direction: column;
      height: 100vh;
      overflow-y: auto;
      position: sticky;
      top: 0;

      .css-pwcg7p-MuiCollapse-root {
        padding-left: 15px;
      }

      h1 {
        color: var(--black-100, #1c1c1c);
        font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
        font-family: Raleway;
        font-size: 19.938px;
        font-style: normal;
        font-weight: 500;
        line-height: 28.483px; /* 142.857% */
        margin-left: 8px;
      }

      h2 {
        color: rgba(28, 28, 28, 0.4);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
      }

      a {
        color: var(--black-100, #1c1c1c);
        font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 120% */
        padding: 12px 10px;
        transition: all 0.4s ease-in-out;
        position: relative;
        border-radius: var(--8, 8px);
        display: block;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: -5px;
          width: 5px;
          height: 22px;
          background-color: #c40655;
          transform: translateY(-50%);
          border-radius: 4px;
          opacity: 0;
          transition: all 0.4s ease-in-out;
        }

        &:hover,
        &.active {
          color: #c40655;
          padding-left: 20px;
          background: rgba(196, 6, 85, 0.05);

          &::after {
            opacity: 1;
          }
        }
      }
    }

    .right {
      position: relative;
      padding: 50px 50px 135px;
      overflow-y: auto;
      height: 100vh;

      .center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .cards {
          margin-bottom: 50px;
          gap: 16px;
          display: grid;
          width: 60%;
        }
      }

      h1 {
        color: #313131;
        font-family: Raleway;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 46px; /* 127.778% */
        margin-bottom: 16px;
      }

      .form-control {
        padding: 24px 20px;
        font-size: 24px;
      }

      .feather {
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }
    }
  }

  .RegistrationLayout {
    position: relative;

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      img {
        width: 100%;
      }
    }
  }

  .HundredRight {
    .MuiFormControlLabel-root {
      margin-bottom: 24px;

      .MuiTypography-root {
        transition: all 0.2s ease-in-out;
      }
    }
    .css-ahj2mt-MuiTypography-root {
      color: #313131;
      font-family: Raleway;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px; /* 133.333% */
    }
    .MuiButtonBase-root {
      &.Mui-checked {
        & ~ .MuiTypography-root {
          font-weight: 700 !important;
        }
      }
    }
    h1 {
      margin-bottom: 34px;
    }

    h2 {
      color: #000;
      text-align: center;
      font-family: Raleway;
      font-size: 26px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px; /* 123.077% */
      margin: 56px 0 24px;

      span {
        color: #001767;
      }
    }
  }

  .HundredQuestionsLayout {
    .left {
      overflow-x: hidden;

      a {
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.css-ahj2mt-MuiTypography-root,
.css-ahj2mt-MuiTypography-root {
  color: #313131 !important;
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 32px !important; /* 133.333% */
}

.css-j204z7-MuiFormControlLabel-root {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 2px;
  margin-bottom: 2px;
}

.css-15v22id-MuiAccordionDetails-root {
  padding: 0 12px !important;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
  border: none !important;
  outline: none !important;
  padding: 0 !important;
  box-shadow: none !important;
  min-height: initial !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  box-shadow: none !important;
  margin: 0 !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  box-shadow: none !important;
  position: initial !important;
}

.css-o4b71y-MuiAccordionSummary-content {
  margin: 0 !important;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: initial !important;
}

.container {
  max-width: 1600px !important;
}

.Library {
  .lib_logo {
    margin-top: 32px;
    margin-bottom: 120px;
    width: 350px;

    @media (max-width: 576px) {
      margin-bottom: 60px;
      width: 290px;
    }
  }

  .lib_name {
    color: #ff0090;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Palatino Linotype;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px; /* 128.125% */
    text-transform: uppercase;
    margin-bottom: 52px;

    @media (max-width: 767px) {
      font-size: 42px;
      line-height: 64px;
    }

    @media (max-width: 576px) {
      font-size: 28px;
      line-height: 38px;
    }
  }

  .lib_h {
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-family: Palatino Linotype;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
  }

  .lib_img {
    margin-top: 70px;
    margin-bottom: 92px;
    height: 200px;
    width: 100%;
  }

  .lib_name_2 {
    color: #ff0090;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Palatino Linotype;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px; /* 128.125% */
    text-transform: uppercase;
    margin-bottom: 28px;
  }

  .lib_p {
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-family: Palatino Linotype;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
  }

  .lib_l {
    margin-top: 120px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 32px 30px;
    border-radius: 0px 120px;
    background: #ff0090;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
    div {
      text-align: center;
      color: #fff;
      text-align: center;
      font-family: Palatino Linotype;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 46px; /* 143.75% */
      text-decoration-line: underline;
    }
  }

  .ben_p {
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-family: Palatino Linotype;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 156.25% */

    @media (max-width: 576px) {
      margin-top: 32px;
      font-size: 24px;
      line-height: 32px;
    }

    img {
      width: 52px;
      margin-right: 12px;

      @media (max-width: 576px) {
        width: 36px;
      }
    }
  }
}

.Buy {
  .buy_logo {
    margin-top: 32px;
    margin-bottom: 60px;
    width: 350px;

    @media (max-width: 576px) {
      margin-bottom: 60px;
      width: 290px;
    }
  }

  .b_h_1 {
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Palatino Linotype;
    font-size: 41.093px;
    font-style: normal;
    font-weight: 700;
    line-height: 60.093px; /* 100% */
  }

  .b_name {
    margin-top: 42px;
    margin-bottom: 42px;
    color: #ff0090;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Palatino Linotype;
    font-size: 46.964px;
    font-style: normal;
    font-weight: 700;
    line-height: 60.172px; /* 128.125% */
    text-transform: uppercase;
  }

  .b_h_2 {
    margin-bottom: 42px;
    text-align: center;
    opacity: 0.9993;
    color: rgba(0, 0, 0, 0.75);
    font-family: Palatino Linotype;
    font-size: 26.482px;
    font-style: normal;
    font-weight: 400;
    line-height: 36.69px;

    span {
      color: #ff0090;
      text-align: center;
      font-family: Palatino Linotype;
      font-size: 26.482px;
      font-style: normal;
      font-weight: 700;
      line-height: 36.69px; /* 156.25% */
    }

    .b_h_2_2 {
      margin-left: 6px;
      display: inline-block;
      opacity: 0.9993;
      color: rgba(28, 5, 165, 0.75);
      font-family: Palatino Linotype;
      font-size: 26.482px;
      font-style: normal;
      font-weight: 400;
      line-height: 36.69px;
      text-decoration-line: underline;
    }
  }

  .b_name_2 {
    text-align: center;
    color: #ff0090;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Palatino Linotype;
    font-size: 46.964px;
    font-style: normal;
    font-weight: 700;
    line-height: 60.172px; /* 128.125% */
    text-transform: uppercase;
  }

  .b_p_1 {
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-family: Palatino Linotype;
    font-size: 38.158px;
    font-style: normal;
    font-weight: 700;
    line-height: 46.964px; /* 123.077% */

    span {
      color: #ff0090;
    }
  }

  .b_p_2 {
    margin-top: 36px;
    margin-bottom: 36px;
    text-align: center;
    color: #5444bb;
    text-align: center;
    font-family: Palatino Linotype;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 177.778% */
  }

  .b_box {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #eff1f4;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .b_up {
      text-align: center;
      .b_up_h {
        color: rgba(0, 0, 0, 0.75);
        text-align: center;
        font-family: Palatino Linotype;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 54px; /* 177.778% */
      }

      .b_up_h_2 {
        opacity: 0.9993;
        color: #ff0090;
        font-family: Palatino Linotype;
        font-size: 46px;
        font-style: normal;
        font-weight: 700;
        line-height: 58px;
      }
    }

    .b_link {
      margin-top: 24px;
      padding: 16px;
      border-radius: 0px 120px;
      background: #ff0090;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: #fff;
      text-align: center;
      font-family: Palatino Linotype;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 46px; /* 143.75% */
    }
  }

  .b_h_4 {
    margin-bottom: 42px;
    img {
      width: 34px;
      margin-right: 6px;
    }

    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-family: Palatino Linotype;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 156.25% */

    span {
      opacity: 0.9993;
      color: #ff0090;
      font-family: Palatino Linotype;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
    }
  }
}

.Header {
  text-align: center;
  position: relative;

  .left,
  .right {
    position: absolute;
    top: 0;
    z-index: -1;
  }

  p {
    span {
      color: #ff0090;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  .logo {
    padding-top: 32px;
  }
  h1 {
    color: #ff0090;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Palatino Linotype;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 110px; /* 110% */
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 36px;
  }

  p {
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-family: Palatino Linotype;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 125% */
  }
}

.HomeStyle {
  h1 {
    color: #ff0090;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 110px; /* 110% */
    text-transform: uppercase;
  }

  p {
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-family: Palatino Linotype;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px; /* 143.75% */
  }

  a {
    color: #313131;
    text-align: center;
    font-family: Palatino Linotype;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px; /* 143.75% */
    text-decoration-line: underline;
    border-radius: 0px 120px;
    background: #fff8fa;
    padding: 32px 30px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    display: block;
    margin-bottom: 32px;

    &:hover {
      background: #ff0090;
      color: #fff;
      // text-decoration-line: underline !important;
    }
  }
}

.Target {
  position: relative;

  .leftPat,
  .rightPat {
    position: absolute;
    z-index: -11;
  }

  .leftPat {
    top: -300px;
    left: 0;
  }

  .rightPat {
    bottom: -180px;
    right: 0;
  }

  h1 {
    padding-top: 238px;
    margin-bottom: 36px;
  }

  p {
    padding-bottom: 238px;
  }
}

.Social {
  padding-bottom: 190px;

  h1 {
    color: #ff0090;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 73.38px;
    font-style: normal;
    font-weight: 700;
    line-height: 80.719px; /* 110% */
    text-transform: uppercase;
  }

  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    a {
      transition: 0.5s;
      &:hover {
        transform: scale(2.1) rotate(360deg);
      }
    }
  }
}

.Future {
  h1 {
    color: #ff0090;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 74px; /* 132.143% */
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 36px;
  }

  .wrap {
    display: flex;
    justify-content: center;

    p {
      color: rgba(0, 0, 0, 0.75);
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 46px; /* 143.75% */
      margin-left: 12px;
    }
    margin-bottom: 36px;
  }

  h2 {
    margin-bottom: 100px;
    color: #ff0090;
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 133.333% */
  }

  h3 {
    color: #ff0090;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 110px; /* 110% */
    text-transform: uppercase;
    margin-bottom: 36px;
    margin-top: 300px;
  }

  h4 {
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px; /* 143.75% */
    margin-bottom: 200px;
  }
}

.PatWrap {
  position: relative;

  .pat {
    position: absolute;
    z-index: -1;
  }

  .leftPat {
    top: -200px;
    left: 0;
  }

  .rightPat {
    bottom: -200px;
    right: 0;
  }
}

.Social {
  position: relative;

  .leftPat {
    position: absolute;
    bottom: -500px;
    left: 0;
    z-index: -1;
  }
}

.Feedback {
  .cards {
    width: 50%;
    margin: auto;
  }
  h1 {
    color: #ff0090;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 73.38px;
    font-style: normal;
    font-weight: 700;
    line-height: 80.719px; /* 110% */
    text-transform: uppercase;
    margin-bottom: 41px;
  }

  input {
    color: rgb(0, 0, 0);
    font-size: 14.676px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%; /* 29.352px */
    margin-bottom: 30px;
  }

  .myBtn {
    background: #ff0090;
    box-shadow: 0px 1.46761px 4.40283px 0px rgba(0, 0, 0, 0.12);
    color: #fff;
    text-align: center;
    font-family: Palatino Linotype;
    font-size: 23.482px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.755px;
    margin-bottom: 80px;
    border-radius: 0px 88.057px;
    transition: 0.8s;
    &:hover {
      background: #ff0090;
      border-radius: 88.057px 0px;
    }
  }
}

.Logo {
  padding: 34px 0;
  border-top: 0.734px solid rgba(0, 0, 0, 0.2);
  text-align: center;
}

.Links {
  padding-bottom: 150px;
}

.HundredRight {
  .MuiFormControlLabel-root {
    margin-bottom: 24px;

    .MuiTypography-root {
      transition: all 0.2s ease-in-out;
    }
  }
  .css-ahj2mt-MuiTypography-root {
    color: #313131;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
  }
  .MuiButtonBase-root {
    &.Mui-checked {
      & ~ .MuiTypography-root {
        font-weight: 700 !important;
      }
    }
  }
  h1 {
    margin-bottom: 34px;
  }

  h2 {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 123.077% */
    margin: 56px 0 24px;

    span {
      color: #001767;
    }
  }
}

.HundredQuestionsLayout {
  .left {
    overflow-x: hidden;

    a {
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.Pay {
  .pay_click_box {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .pay_click {
      display: flex;
      align-items: center;

      @media (max-width: 420px) {
        margin-bottom: 30px;
        margin-right: 0px;
        margin-left: 0px;
      }

      .pay_click_h {
        margin-left: 14px;
        font-size: 20px;
        font-weight: 500;
      }
    }

    @media (max-width: 420px) {
      flex-direction: column;
    }
  }

  .pay_box {
    height: 100vh;
  }

  .pay_left {
    // position: relative;
    // z-index: 2;
    // background: #032728;
    // box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.25);
    // border-radius: 0px 80px 80px 0px;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 992px) {
      padding: 30px;
    }

    .pay_left_logo {
      position: absolute;
      left: 40px;
      top: 30px;

      @media (max-width: 576px) {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .pay_left_tree_1 {
      position: absolute;
      top: 0;
      right: 0;

      @media (max-width: 992px) {
        display: none;
      }
    }

    .pay_left_tree_2 {
      position: absolute;
      bottom: -70px;
      left: 0;

      @media (max-width: 992px) {
        display: none;
      }
    }

    .pay_card_h {
      font-weight: 500;
      font-size: 36px;
      line-height: 40px;
      text-align: center;
      letter-spacing: -0.01em;
      margin-bottom: 25px;

      @media (max-width: 576px) {
        margin-top: 150px;
        font-size: 30px;
      }

      @media (max-width: 420px) {
      }
    }

    .pay_card {
      padding: 20px;
      width: 520px;
      background-color: white;
      border: 2px solid #075354;
      border-radius: 12px;

      @media (max-width: 1100px) {
        width: 500px;
      }

      @media (max-width: 576px) {
        width: 100%;
      }

      .pay_card_name {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;

        @media (max-width: 400px) {
          font-size: 16px;
          font-weight: 600;
        }
      }

      .pay_card_inp_box {
        margin-top: 35px;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 25px;

        @media (max-width: 576px) {
          flex-direction: column;
          margin-top: 30px;
          margin-bottom: 0;
        }

        .pay_card_inp {
          height: 50px;
          padding: 12px;

          @media (max-width: 576px) {
            width: 100%;
            margin-bottom: 30px;
          }
        }
      }

      .pay_a {
        width: 100%;
        text-decoration: none;
        padding: 18px;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
        border-radius: 3px;
        border: none;
      }
    }
  }

  .pay_right {
    position: relative;

    @media (max-width: 992px) {
      display: none;
    }

    .pay_right_img {
      position: absolute;
      right: 0;
      width: 120%;
      height: 100vh;
    }
  }

  .pay_left {
    .logo {
      margin-bottom: 100px;
    }

    .pay_card_h {
      margin-bottom: 50px;
    }
  }
}

.Parol {
  .pay_click_box {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .pay_click {
      display: flex;
      align-items: center;

      @media (max-width: 420px) {
        margin-bottom: 30px;
        margin-right: 0px;
        margin-left: 0px;
      }

      .pay_click_h {
        margin-left: 14px;
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
      }
    }

    @media (max-width: 420px) {
      flex-direction: column;
    }
  }

  .pay_left {
    // position: relative;
    // z-index: 2;
    // background: #032728;
    // box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.25);
    // border-radius: 0px 80px 80px 0px;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 992px) {
      padding: 30px;
    }

    .pay_left_logo {
      position: absolute;
      left: 40px;
      top: 30px;

      @media (max-width: 576px) {
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 60px;
      }
    }

    .pay_left_tree_1 {
      position: absolute;
      top: 0;
      right: 0;

      @media (max-width: 992px) {
        display: none;
      }
    }

    .pay_left_tree_2 {
      position: absolute;
      bottom: -70px;
      left: 0;

      @media (max-width: 992px) {
        display: none;
      }
    }

    .pay_card_h {
      font-weight: 500;
      font-size: 36px;
      line-height: 40px;
      text-align: center;
      letter-spacing: -0.01em;
      margin-bottom: 25px;

      @media (max-width: 576px) {
        font-size: 30px;
      }

      @media (max-width: 420px) {
        margin-top: 100px;
      }
    }

    .pay_card {
      padding: 20px;
      width: 520px;
      background-color: white;
      border: 2px solid #075354;
      border-radius: 12px;
      flex-direction: column;
      gap: 25px;

      @media (max-width: 1100px) {
        width: 500px;
      }

      @media (max-width: 576px) {
        width: 100%;
      }

      .pay_card_name {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        color: #000000;

        @media (max-width: 400px) {
          font-size: 16px;
          font-weight: 600;
        }
      }

      .pay_card_inp_box {
        margin-top: 35px;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 576px) {
          flex-direction: column;
          margin-top: 30px;
          margin-bottom: 0;
        }

        .pay_card_inp {
          width: 100%;
          height: 50px;
          padding: 12px;

          @media (max-width: 576px) {
            width: 100%;
            margin-bottom: 30px;
          }
        }
      }

      .pay_a {
        width: 100%;
        text-decoration: none;
        padding: 18px;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #ffffff;
        background: linear-gradient(105.19deg, #a16dff -18.21%, #6c509a 64.14%);
        border-radius: 3px;
        border: none;
      }
    }
  }

  .pay_right {
    position: relative;

    @media (max-width: 992px) {
      display: none;
    }

    .pay_right_img {
      position: absolute;
      right: 0;
      width: 120%;
      height: 100vh;
    }
  }

  .pay_box {
    height: 100vh;

    .logo {
      margin-bottom: 100px;
    }

    .pay_card_h {
      margin-bottom: 50px;

      span {
        color: #ff0090;
      }
    }
  }
}

.myModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #ffffffd9;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;

  .pay {
    border-radius: 5.87px;
    background: #eff1f4;
    width: 400px;
    height: 150px;
    border-radius: 10px;
    background: #eff1f4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
